.headerStyle {
    background-color: var(--black);
    color: var(--grey);
    border-bottom: 3px solid var(--blue);
}

.headerName {
    display: flex;
    flex-direction: column;
}

.headernav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3rem !important;
}

@media all and (max-width: 500px) {
    
        .headernav {
            flex-direction: column !important;
        }
}

.activeNavLink, .inactiveNavLink {
    padding: 1rem !important;
    text-decoration: none;
    color: var(--grey);
}

.activeNavLink {
    color: var(--blue);
}